.card {
  text-align: center;
  padding-top: 10px;
  opacity: 1;
  width: 90%;
  color: white;
}

.card-title {
  color: #262626;
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}

.container {
  margin-top: 100px;
}

img {
  display: block;
  margin: auto;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.follow {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  // margin-top: 20px;
}
.slick-slider {
  width: 95%;
  margin: 0 auto;
  .slick-dots {
    li {
      button {
        display: none;
      }
    }
  }
}

//added by Vic
#carousel {
  display: inline-block;
  margin: 10px;
  border: black solid 5px;
  border-radius: 25px;
  padding: 10px;
  background-color: white;
  width: 85%;
}

.card {
  border-radius: 25px;
}
