$primary-colour: #2c6b68;

.card {
  text-align: center;
  padding-top: 10px;
  // opacity: 1;
  width: 90%;
  color: white;
  background-color: transparent;
}

.card-title {
  color: #262626;
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}

.container {
  margin-top: 100px;
}

img {
  display: block;
  margin: auto;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.follow {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  // margin-top: 20px;
}
.slick-slider {
  width: 95%;
  margin: 0 auto;
  .slick-dots {
    li {
      button {
        display: none;
      }
    }
  }
}

//added by Vic
.carousel {
  display: inline-block;
  margin: 10px;
  border-radius: 4px;
  padding: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 165, 0, 0.7)
  );
  width: 85%;
  h2 {
    background: none;
  }
}

.card {
  border-radius: 10px;
  margin-bottom: 2rem;
}

div.card {
  background: linear-gradient(
    to bottom,
    rgba(105, 105, 105, 0.5),
    rgba(255, 255, 255, 0.8)
  );
  border: none;
}