$primary-colour: #2c6b68;
$secondary-colour: #ffffff;
$accent-colour: #a0acb9;
$third-colour: #67b3b0;
$primary-font: monospace, cursive;

.favourite-title {
  font-family: $primary-font;
  color: $primary-colour;
  padding: 0.5% 0 0 0;
  font-size: 3rem;
}
.FavouritesItem {
  display: flex;
  justify-content: center;
  // background-color: rgba(106, 127, 150, 0.75);
  margin: 1% 1%;
  .favourite-main {
    display: flex;
    // justify-content: center;
    align-items: center;
    // padding: 2%;
    background-color: #ffffff;
    border: $primary-colour solid 1px;
    width: 85%;
    border-radius: 5px;
    img {
      // border: black solid 5px;
      border-radius: 3px;
      max-height: 23vh;
      margin: 0;
    }
  }
  .selectContainer {
    display: flex;
    flex-direction: column;
    // width: 15vw;
    // justify-content: space-around;
    // padding-bottom: 1%;
    .selectPosition {
      display: flex;
      flex-direction: column;
      // justify-content: left;
      // align-items: left;
      margin: 1%;
      .fav-button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: space-between;
        input {
          margin: 2%;
        }
      }
    }
    .dropdown {
      margin: 0 1%;
    }
    button {
      margin: 0 15px;
    }
    .add button {
      display: inline-block;
      background-color: #007bff;
      color: white;
      border-radius: 10px;
      padding: 7px 13px;
      border: 1px solid transparent;
      font-weight: bold;
      margin-top: 0.5rem;
      &:hover {
        background-color: salmon;
        color: $secondary-colour;
        // border: 1px solid $third-colour;
      }
    }

    .delete-button {
      margin-top: 0.5rem;
    }
  }
}

.image-and-drop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 35vw;

  padding: 1%;
  background-color: #ffffff;
  border-radius: 4px;
}

.image-container {
  position: relative;
  margin-right: 1rem;
  .delete-button-image {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #a0d0ce;
    color: white;
    border-radius: 10px;
    padding: 7px 13px;
    border: 1px solid transparent;
    font-weight: bold;
    &:hover {
      background-color: salmon;
    }
  }
}

.width {
  width: 3vw;
}

.delete-button {
  background-color: #a0d0ce;
  color: white;
  border-radius: 10px;
  padding: 7px 13px;
  border: 1px solid transparent;
  font-weight: bold;
  &:hover {
    background-color: salmon;
  }
}
