$primary-colour: #2c6b68;
$secondary-colour: #ffffff;
$accent-colour: #a0acb9;
$third-colour: #67b3b0;
$primary-font: monospace, cursive;

.favourite-title {
  font-family: $primary-font;
  color: $primary-colour;
  margin-top: 0;
  font-size: 3rem;
}
.FavouritesItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90%;
  margin: 1% auto;
  border: $primary-colour solid 1px;
  border-radius: 5px;
  padding-bottom: 1%;
  .favourite-main {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1% 1% 0;
    width: 100%;
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      // margin-left: 2rem;
      padding: 0;
      img {
        margin: 0;
        border-radius: 3px;
        max-height: 20vh;
      }
      button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: #a0d0ce;
        color: white;
        border-radius: 10px;
        padding: 7px 13px;
        border: 1px solid transparent;
        font-weight: bold;
        &:hover {
          background-color: salmon;
        }
      }
    }
  }
  .meal-plan-container {
    padding: 0 1rem 1rem;
    width: 30%;
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .plan-title {
      color: $primary-colour;
    }

    .dropdown-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      .selectContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .selectPosition {
          display: flex;
          flex-direction: column;
          margin: 3%;
          .fav-button-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 0.5rem;
          }
        }
        .dropdown {
          margin: 0 1%;
        }
        button {
          margin: 0.5rem 0;
        }
        .add button {
          display: inline-block;
          background-color: #007bff;
          color: white;
          border-radius: 10px;
          padding: 7px 13px;
          border: 1px solid transparent;
          font-weight: bold;
          margin-right: 1rem;
          &:hover {
            background-color: salmon;
            color: $secondary-colour;
          }
        }
      }
    }
  }
}

.image-and-drop-container {
  width: 100%;
  display: flex;
  // justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1%;
  background-color: #ffffff;
  border-radius: 4px;
  .image-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    // margin: 0 2em 0 0;
    img {
      border-radius: 5px;
      max-width: 100%;
      // margin: 2rem;
    }
    .delete-button-image {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: #a0d0ce;
      color: white;
      border-radius: 10px;
      padding: 7px 13px;
      border: 1px solid transparent;
      font-weight: bold;
      &:hover {
        background-color: salmon;
      }
    }
  }
}

.graph-and-drop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  background-color: #ffffff;
  border-radius: 4px;
}

.delete-button {
  background-color: #a0d0ce;
  color: white;
  border-radius: 10px;
  padding: 7px 13px;
  border: 1px solid transparent;
  font-weight: bold;
  &:hover {
    background-color: salmon;
  }
}

.DateInput_input__small {
  text-align: center;
}