$primary-colour: #243a2f;
$secondary-colour: #ffffff;
$accent-colour: #a0acb9;
$primary-font: monospace, cursive;

.recipeinfo {
  margin-top: 3%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  .things {
    margin-right: 15%;
    img {
      border-radius: 10px;
      margin-bottom: 3%;
      max-height: 16rem;
    }
    div div {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    a {
      color: black;
      background-color: rgba(71, 112, 157, 0.75);
      padding: 2px 5px;
      border-radius: 10px;
      border: 1px solid transparent;
      &:hover {
        color: wheat;
        border: 1px solid black;
      }
    }
    button {
      background-color: transparent;
      border: none;
      i {
        font-size: 1.5rem;
        // color: red;
      }
      &:active {
        color: red;
      }
    }
  }
  .ingredient {
    text-shadow: 1px 1px 1px white;
    li {
      margin: 1% 0;
      text-align: left;
    }
  }
}
.button-container {
  margin-top: 1rem;
}

.ingredient-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addtoschedule {
  margin: 1.5% 0;
  display: flex;
  justify-content: center;
  h4 {
    text-shadow: 1px 1px 1px white;
  }
  .flex {
    display: flex;
    align-items: flex-end;
  }
  button {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 1rem;
    color: white;
  }
  .add button {
    background-color: rgb(28, 196, 42);
    &:hover {
      color: rgb(28, 196, 42);
      background-color: white;
      border: 1px solid rgb(28, 196, 42);
    }
  }
  .cancel button {
    background-color: salmon;
    &:hover {
      background-color: red;
    }
  }
}
