$primary-colour: #2c6b68;
$secondary-colour: #ffffff;
$accent-colour: #a0acb9;
$primary-font: monospace, cursive;

.schedule-title {
  font-family: $primary-font;
  color: $primary-colour;
  margin: 0;
  font-size: 3rem;
}

.calendar {
  margin: 1% 0 2%;
}

.schedule {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: start;
  h2 {
    margin-bottom: 0.5rem;
  }
  .day-of-week {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5%;
    padding: 0.75rem;
    text-shadow: 1px 1px 1px white;
    background-color: white;
    border-radius: 10px;
    .schedule-item {
      display: flex;
      flex-direction: column;
      width: 11vw;
      margin: 0.5rem 0;
      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;
        margin: 0;
        img {
          margin: 0;
          border-radius: 3px;
          max-height: 20vh;
          max-width: 100%;
        }
        button {
          position: absolute;
          top: 0.5rem;
          right: 1.25rem;
          background-color: #a0d0ce;
          color: white;
          border-radius: 10px;
          padding: 7px 13px;
          border: 1px solid transparent;
          font-weight: bold;        
          &:hover, button:hover i {
            background-color: salmon;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .schedule {
    h2 {
      font-size: 1.25rem;
      margin: 0;
    }
    .day-of-week {
      padding: 0.5rem 0.75rem;
      .schedule-item {
        width: 11vw;
        margin: 0.25rem 0;
        .image-container {
          button {
            right: 0.75rem;
            padding: 3.5px 6.5px;
            border-radius: 5px;
          }
        }
        .heading-title h3 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 975px) {
  .schedule {
    h2 {
      font-size: 1.2rem;
    }
    .day-of-week {
      .schedule-item {
        width: 10.5vw;
        .heading-title h3 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 888px) {
  .calendar {
    margin: 0 0 2%;
  }
  .schedule {
    h2 {
      font-size: 1rem;
    }
    .day-of-week {
      .schedule-item {
        width: 9.5vw;
        .image-container {
          button {
            padding: 2.5px 5.5px;
            font-size: 0.75rem;
          }
        }
        .heading-title h3 {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 666px) {
  .schedule {
    .day-of-week {
      .schedule-item {
        width: 9.5vw;
        .image-container {
          button {
            top: 0.25rem;
            right: 0.25rem;
            padding: 1.5px 3.5px;
            border-radius: 2px;
          }
        }
        .heading-title h3 {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 586px) {
  .schedule {
    h2 {
      font-size: 0.9rem;
    }
    .day-of-week {
      padding: 0.5rem 0.15rem;
      .schedule-item {
        width: 12.25vw;
        .heading-title h3 {
          font-size: 0.8rem;
        }
      }
    }
  }
}