$primary-colour: #2c6b68;
$secondary-colour: #ffffff;
$accent-colour: #a0acb9;
$primary-font: monospace, cursive;


.schedule-title {
  font-family: $primary-font;
  color: $primary-colour;
  margin: 0;
  font-size: 3rem;
}
.calendar {
  margin: 1% 0 2%;
}
.schedule {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: start;
  .day-of-week {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5%;
    padding: 0.75rem;
    text-shadow: 1px 1px 1px white;
    background-color: white;
    border-radius: 10px;
    .schedule-item {
      display: flex;
      flex-direction: column;
      width: 11vw;
      // margin: 0 0 1.5rem;
      margin: 0.5rem 0;
      // margin-bottom: 1.5em;
      // padding-bottom: 1.5em;
      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;
        margin: 0;
        img {
          // border-radius: 10px;
          // max-height: 15vh;
          margin: 0;
          border-radius: 3px;
          max-height: 20vh;
          max-width: 100%;
        }
        button {
          // margin-top: 2%;
          // background-color: #a0d0ce;
          // color: #ffffff;
          // border: 1px solid transparent;
          // border-radius: 5px;
          // padding: 2% 3%;

          position: absolute;
          top: 0.5rem;
          right: 1.25rem;
          background-color: #a0d0ce;
          color: white;
          border-radius: 10px;
          padding: 7px 13px;
          border: 1px solid transparent;
          font-weight: bold;        
          &:hover, button:hover i {
            background-color: salmon;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .schedule {
    h2 {
      font-size: 1.5rem;
    }
    .schedule-item {
      .heading-title h3 {
        font-size: 1rem;
      }
    }
  }
}