$primary-colour: #2c6b68;
$secondary-colour: #ffffff;
$accent-colour: #a0acb9;
$primary-font: monospace, cursive;

.schedule {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: start;
  div {
    margin: 0 1%;
    padding: 1%;
    text-shadow: 1px 1px 1px white;
    background-color: white;
    border-radius: 10px;
  }
  img {
    border-radius: 10px;
    max-height: 15vh;
  }
  button {
    margin-top: 2%;
    background-color: #a0d0ce;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2% 3%;
    &:hover,
    button:hover i {
      background-color: salmon;
    }
  }
}

.calendar {
  margin: 2% 0;
}
