.graph-container {
  display: flex;
  justify-content: space-evenly;
}

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-label {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  margin-right: 0;
}

.nutritional-data {
  margin: 100px 50px;
  border: black solid 5px;
  border-radius: 25px;
  padding: 25px;
}

.nutritional-data h3 {
  background-color: red;
  display: inline-block;
  margin: 0;
  border-radius: 25px;
  padding: 5px 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}
#cover:focus {
  outline: none
}

#cover input,
#cover button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 0; */
  /* right: 0; */
  width: 550px;
  padding: 35px;
  margin: 0 auto 0 auto;
  background-color: #ff7575;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

#cover form {
  height: 65px;
}

#cover input[type="text"] {
  width: 100%;
  height: 65px;
  font-size: 60px;
  line-height: 1;
}

#cover input[type="text"]::placeholder {
  color: #e16868;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

#cover button {
  position: relative;
  display: block;
  width: 84px;
  height: 65px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 72px;
  height: 72px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

#cover button span {
  position: absolute;
  top: 68px;
  left: 46px;
  display: block;
  width: 40px;
  height: 10px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

#cover button span:before,
#cover button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 55%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

.search {
  display: flex;
  flex-wrap: wrap;
}