$primary-colour: #123050;
$secondary-colour: #a7adba;

// border-box???

// not sure about this i.e. this makes the height go all the way down
html,
body,
#root,
#root > div {
  background-image: url("/assets/healthy-wallpaper4.jpeg");
  background-size: cover;
  height: 100vh;
}

// figure this out for placement
#home {
  // background-image: url("/assets/healthy-wallpaper2.jpeg");
  // background-size: cover;
  // height: 100vh;
  padding-top: 260px;
}

.nav {
  background-color: $secondary-colour;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 5px 0px rgba(18, 48, 80, 0.75);
  border: solid black;
  border-width: 1px 0;
  .media h3 {
    margin: 0 20px;
    &:hover {
      color: lighten($primary-colour, 30%);
    }
  }
  #logo {
    letter-spacing: 2px;
    font-family: "Londrina Outline", cursive;
    font-size: 50px;
  }
  h3 {
    font-family: monospace;
    margin: 0;
    color: $primary-colour;
  }
  // login credentials
  form input {
    margin-right: 5px;
    border-color: black;
    padding: 0.5px 7px;
    font-family: monospace;
    font-size: 18px;
    border-radius: 6px;
    max-width: 160px;
    // padding-right: 5px;
    &::placeholder {
      font-family: monospace;
      font-size: 18px;
    }
  }
  button {
    background-color: $primary-colour;
    border-radius: 10px;
    border: 1px solid transparent;
    color: white;
    font-family: monospace;
    font-size: 18px;
    padding: 2px 10px;
    margin-left: 10px;
    &:hover {
      color: $primary-colour;
      background-color: white;
      border: 1px solid $primary-colour;
    }
  }
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    border: 1px solid transparent;
    margin: 0 20px;
    background-color: $primary-colour;
    color: white;
    border-radius: 10px;
    padding: 2px 10px;
    &:hover {
      color: $primary-colour;
      background-color: white;
      border: 1px solid $primary-colour;
    }
  }
}

.registerform {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  input {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
  }
  button {
    background-color: $primary-colour;
    border-radius: 10px;
    border: 1px solid transparent;
    color: white;
    font-family: monospace;
    font-size: 18px;
    padding: 5px 15px;
    margin-top: 10px;
    &:hover {
      color: $primary-colour;
      background-color: white;
      border: 1px solid $primary-colour;
    }
  }
}

// .logout {
//   margin-left: 25px;
// }

// style for the username when logged in
#logged-user {
  font-family: monospace;
  font-size: 18px;
  // margin-right:10px;
}

// start of searchbar styling

#cover {
  width: 650px;
  padding: 25px;
  margin: 0 auto 0 auto;
  background-color: transparent;
  border-radius: 50px;
  border: solid 1px $primary-colour;
  transform: scale(0.6);
  box-shadow: 5px 5px 5px 5px rgba(18, 48, 80, 0.75);
  .tb {
    display: table;
    width: 100%;
  }
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  &:focus {
    outline: none;
  }
  //text for the ingredient input
  input,
  button {
    color: $primary-colour;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
  form {
    height: 65px;
  }
  input[type="text"] {
    width: 100%;
    height: 65px;
    font-size: 66px;
    text-align: center;
    background-color: transparent;
    outline: none;
    font-family: "Cabin Sketch", cursive;
    font-weight: 700;
    color: $primary-colour;
    &::placeholder {
      font-family: "Cabin Sketch", cursive;
      font-weight: 700;
      font-size: 33px;
      color: $primary-colour;
      text-align: center;
      transform: translateY(-5px);
    }
  }
  // magnifying glass
  #s-cover {
    width: 1px;
    transform: scale(0.7);
  }
  button {
    position: relative;
    display: block;
    width: 84px;
    height: 65px;
    cursor: pointer;
    outline: none;
  }
  #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 72px;
    height: 72px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid $primary-colour;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
    color: $primary-colour;
  }
  button span {
    position: absolute;
    top: 68px;
    left: 46px;
    display: block;
    width: 40px;
    height: 10px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }
  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: $primary-colour;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: $primary-colour;
    border-radius: 20px;
  }
  #s-cover:hover span {
    top: 55%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }
  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }

  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: $primary-colour;
  }
}

.search {
  margin-top: 40px;
  .search-result {
    margin: 20px 100px;
    display: flex;
    align-items: center;
    background-color: rgba(106, 127, 150, 0.75);
    border-radius: 50px;
    border: solid 2px black;
    padding: 25px;
    a:hover {
      text-decoration: none;
    }
  }
  img {
    height: 200px;
    width: 200px;
    margin: 0 100px;
    padding: 5px;
    background-color: $secondary-colour;
    border: solid 2px black;
  }
  h4 {
    font-size: 40px;
    font-family: "Londrina Solid", cursive;
    color: white;
    border: solid 2px black;
    border-radius: 15px;
    background-color: $primary-colour;
    padding: 10px;
    margin: 0;
    &:hover {
      border: solid 2px white;
    }
  }
}

.graph-container {
  display: flex;
  // height: 200px;
  width: 850px;
  align-items: center;
  justify-content: space-evenly;
  .graph {
    display: flex;
    align-items: center;
    justify-content: center;
    .graph-label {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      margin: 0;
      color: $primary-colour;
      font-family: "Londrina Solid", cursive;
    }
  }
}

.nutritional-data {
  width: 85%;
  // height: 42vh;
  display: inline-block;
  margin: 20px 10px 10px;
  border: black solid 5px;
  border-radius: 25px;
  padding: 10px;
  background-color: white;
  .text {
    color: $primary-colour;
  }
}

.nutritional-data h2 {
  color: $primary-colour;
  font-family: "Londrina Solid", cursive;
}

#favourite-title {
  font-family: "Londrina Solid", cursive;
  color: $primary-colour;
  padding-top: 25px;
  font-size: 48px;
}
.FavouritesItem {
  background-color: rgba(106, 127, 150, 0.75);
  border: black solid 5px;
  border-radius: 25px;
  margin: 50px 50px;
  .favourite-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    img {
      border: black solid 5px;
      border-radius: 25px;
      max-height: 35vh;
      margin: 0;
    }
  }
  .selectPosition {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    .selectContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dropdown {
      margin: 0 5px 0 10px;
    }
    button {
      margin: 4px 5px;
    }
    .add button {
      display: inline-block;
      background-color: rgb(28, 196, 42);
      color: white;
      border-radius: 10px;
      padding: 7px 13px;
      border: 1px solid transparent;
      font-weight: bold;
      &:hover {
        background-color: white;
        color: rgb(28, 196, 42);
      }
    }
    .delete button {
      background-color: salmon;
      color: white;
      border-radius: 10px;
      padding: 7px 13px;
      border: 1px solid transparent;
      font-weight: bold;
      &:hover {
        background-color: red;
      }
    }
  }
}

.recipeinfo {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  .things {
    margin-right: 150px;
    img {
      border-radius: 10px;
      margin-bottom: 10px;
    }
    div div {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    a {
      color: wheat;
      background-color: rgba(106, 127, 150, 0.75);
      padding: 2px 5px;
      border-radius: 10px;
      border: 1px solid transparent;
      &:hover {
        color: black;
        border: 1px solid black;
      }
    }
    button {
      background-color: transparent;
      border: none;
      i {
        font-size: 25px;
      }
    }
  }
  .ingredient {
    text-shadow: 1px 1px 1px white;
    li {
      margin: 5px 0;
      text-align: left;
    }
  }
}

.addtoschedule {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  h4 {
    text-shadow: 1px 1px 1px white;
  }
  .flex {
    display: flex;
    align-items: flex-end;
  }
  button {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 10px;
    color: white;
  }
  .add button {
    background-color: rgb(28, 196, 42);
    &:hover {
      color: rgb(28, 196, 42);
      background-color: white;
      border: 1px solid rgb(28, 196, 42);
    }
  }
  .cancel button {
    background-color: salmon;
    &:hover {
      background-color: red;
    }
  }
}
