$primary-colour: #2c6b68;
$secondary-colour: #ffffff;
$accent-colour: #ffde4d;
$third-colour: #67b3b0;
$primary-font: monospace, cursive;

html,
body,
#root,
#root > div {
  height: 100vh;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    $primary-colour,
    rgba(255, 255, 255, 0)
  );
  #logo {
    letter-spacing: 2px;
    font-family: "Londrina Outline", cursive;
    font-size: 50px;
  }
  h3 {
    font-family: monospace;
    margin: 0;
    font-size: 1.7rem;
    color: $secondary-colour;
  }
  .nav-plus-logo {
    margin: 0 auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: $accent-colour;
      border-radius: 10px;
      border: 1px solid transparent;
      color: $primary-colour;
      font-weight: 400;
      font-family: $primary-font;
      font-size: 1.7rem;
      margin-left: 10px;
      padding: 3.5px 10px;
      &:hover {
        color: $primary-colour;
        background-color: white;
        border: 1px solid $secondary-colour;
      }
    }
    .nav-logged-out, .logged-user {
      display: flex;
      align-items: center;
      h3 {
        padding: 2px 10px;
        background-color: $accent-colour;
        border-radius: 10px;
        border: 1px solid transparent;
        color: $primary-colour;
        font-weight: 400;
        font-family: $primary-font;
        font-size: 1.7rem;
        margin-left: 10px;
        &:hover {
          color: $primary-colour;
          background-color: white;
          border: 1px solid $secondary-colour;
        }
      }
      form {
        display: flex;
        input {
          margin-right: 5px;
          padding: 2.5px 10px;
          font-family: $primary-font;
          font-size: 1.7rem;
          border-radius: 3px;
          max-width: 160px;
          &::placeholder {
            font-family: $primary-font;
            font-size: 1.7rem;
          }
        }
      }
      .register-faq {
        display: flex;
      }
    }
    .nav-logged-in {
      display: flex;
      flex-direction: column;
      .media {
        margin-top: 10px;
        h3 {
        font-size: 1.7rem;
        margin-left: 20px;
          &:hover {
            color: $accent-colour;
          }
        }
      }
      .logged-user {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        font-family: monospace;
        font-size: 1.7rem;
        color: $secondary-colour;
        a {
          color: $primary-colour;
        }
      }
    }
  }
  .edamam-wrapper {
    margin: 0 auto;
    display: flex;
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .nav {
    padding-top: 10px;
    .edamam-wrapper {
      display: block;
    }
    .nav-plus-logo {
      flex-direction: column;
      .nav-logged-out {
        transform: scale(0.7);
        justify-content: flex-end;
        margin-bottom: 10px;
      }
    }
    .logged-in-container {
      flex-direction: column;
      .nav-logged-in {
        align-items: center;
        justify-content: center;
        .logged-user {
          transform: scale(0.7);
        }
        .media {
          margin-bottom: 10px;
          .favourites-media {
            h3 {
            margin: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav-plus-logo {
    flex-direction: column;
  }
}

@media only screen and (max-width: 525px) {
  .logged-in-container {
    .nav-logged-in {
      .media {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .favourites-media, .other-media {
          h3 {
            margin: 5px 0;
          }
        } 
      }
    }
  }
}




.registerform {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  input {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 3px;
  }
  button {
    background-color: $primary-colour;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #ffffff;
    font-family: monospace;
    font-size: 1.7rem;
    padding: 5px 15px;
    margin-top: 10px;
    &:hover {
      color: $primary-colour;
      background-color: $accent-colour;
    }
  }
}
















// start of searchbar styling
#cover {
  width: 60vw;
  padding: 25px;
  margin: 2% auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  transform: scale(0.6);
  box-shadow: 2px 2px 2px 2px rgba(10, 46, 34, 0.75);
  .tb {
    display: table;
    width: 100%;
  }
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  &:focus {
    outline: none;
  }
  //text for the ingredient input
  input,
  button {
    color: $primary-colour;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
  input[type="text"] {
    color: $primary-colour;
    width: 100%;
    font-size: 50px;
    text-align: center;
    background-color: transparent;
    outline: none;
    font-family: "Cabin Sketch", cursive;
    font-weight: 700;
    color: $primary-colour;
    &::placeholder {
      font-family: "Cabin Sketch", cursive;
      font-weight: 700;
      font-size: 50px;
      color: $primary-colour;
      text-align: center;
    }
  }
  // magnifying glass
  #s-cover {
    width: 1px;
    transform: scale(0.7);
  }
  button {
    position: relative;
    display: block;
    width: 84px;
    height: 65px;
    cursor: pointer;
    outline: none;
  }
  #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 72px;
    height: 72px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid $primary-colour;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
    color: $primary-colour;
  }
  button span {
    position: absolute;
    top: 68px;
    left: 46px;
    display: block;
    width: 40px;
    height: 10px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }
  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: $primary-colour;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: $primary-colour;
    border-radius: 20px;
  }
  #s-cover:hover span {
    top: 55%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }
  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }

  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: $primary-colour;
  }
  .dropdown-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 1225px) {
  #cover {
    width: 70vw;
    input[type="text"] {
      font-size: 45px;
      &::placeholder {
        font-size: 45px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  #cover {
    width: 75vw;
    #s-cover {
      transform: scale(0.7);
    }
    input[type="text"] {
      font-size: 40px;
      &::placeholder {
        font-size: 40px;
      }
    }
  }
}

@media only screen and (max-width: 835px) {
  #cover {
    width: 90vw;
    #s-cover {
      transform: scale(0.7);
    }
    input[type="text"] {
      font-size: 35px;
      &::placeholder {
        font-size: 35px;
      }
    }
  }
}

@media only screen and (max-width: 635px) {
  #cover {
    width: 99vw;
    #s-cover {
      transform: scale(0.5);
    }
    input[type="text"] {
      font-size: 30px;
      &::placeholder {
        font-size: 30px;
      }
    }
  }
}






.search {
  margin: 0.5rem 35rem;
  .search-result {
    margin: 1.5rem 3rem;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px;
    a:hover {
      text-decoration: none;
    }
  }
  img {
    height: 6vh;
    width: 6vh;
    margin: 0.25rem 1rem;
    border-radius: 5px;
  }
  h4 {
    font-size: 1.5rem;
    font-family: $primary-font;
    color: $primary-colour;
    padding: 10px;
    margin: 0;
  }
}

.button-and-graph-container {
  margin: 3rem auto;
  width: 60%;
  background-color: #ffffff;
  border-radius: 5px;
  .position-right button {
    margin-top: 2rem;
  }
}

// ingredient graphs styles
.ingredient-data {
  width: 70%;
  margin: 25px auto;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
  .text {
    color: $primary-colour;
  }
  h2 {
    color: $primary-colour;
    font-family: $primary-font;
  }
  .ingredient-graph-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;
    .left-graph {
      height: 18em;
      width: 52.5%;
    }
    .right-graph {
      height: 18em;
      width: 25%;
      margin: 0 1em;
    }
    .calories-graph {
      height: 18em;
      width: 16%;
    }
  }
}

// macro graphs styles
.graph-carousel-container {
  display: inline-block;
  width: 80%;
  margin-top: 1%;
  .macro-data {
    margin: 20px 10px 10px;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    h2 {
      font-family: $primary-font;
      color: $primary-colour;
    }
    .text {
      color: $primary-colour;
    }
    #macro-graph-container {
      height: 22em;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.h1-title {
  font-family: $primary-font;
  color: $primary-colour;
  margin-top: 0;
  font-size: 3rem;
}


@media only screen and (max-width: 768px) {
  .ingredient-data {
    width: 90%;
  }
  .ingredient-data .ingredient-graph-container {
    .left-graph {
      width: 45%;
    }
    .right-graph {
      width: 26%;
    }
    .calories-graph {
      width: 19%;
    }
  }
}