$primary-colour: #2c6b68;
$secondary-colour: #ffffff;
$accent-colour: #ffde4d;
$third-colour: #67b3b0;
$primary-font: monospace, cursive;

// border-box???

// not sure about this i.e. this makes the height go all the way down
html,
body,
#root,
#root > div {
  // background-image: url("/assets/healthy-wallpaper4.jpeg");
  // background-size: cover;
  height: 100vh;
  box-sizing: boreder-box;
}

// // figure this out for placement
// #home {
//   // background-image: url("/assets/healthy-wallpaper2.jpeg");
//   // background-size: cover;
//   // height: 100vh;
//   // padding-top: 260px;
// }

.nav {
  background-image: linear-gradient(
    to bottom,
    $primary-colour,
    rgba(255, 255, 255, 0)
  );
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // border-width: 1px 0;
  .media h3 {
    font-size: 1.7rem;
    margin: 0 20px;
    &:hover {
      color: $accent-colour;
    }
  }
  #logo {
    letter-spacing: 2px;
    font-family: "Londrina Outline", cursive;
    font-size: 50px;
  }
  h3 {
    font-family: monospace;
    margin: 0;
    font-size: 1.7rem;
    color: $secondary-colour;
  }
  // login credentials
  form input {
    margin-right: 5px;
    border-color: black;
    padding: 0.5px 7px;
    font-family: $primary-font;
    font-size: 1.7rem;
    border-radius: 6px;
    max-width: 160px;
    // padding-right: 5px;
    &::placeholder {
      font-family: $primary-font;
      font-size: 1.7rem;
    }
  }
  button {
    background-color: $accent-colour;
    border-radius: 10px;
    border: 1px solid transparent;
    color: $primary-colour;
    font-family: $primary-font;
    font-size: 1.7rem;
    padding: 2px 10px;
    margin-left: 10px;
    &:hover {
      color: $primary-colour;
      background-color: white;
      border: 1px solid $secondary-colour;
    }
  }
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 1.7rem;
    border: 1px solid transparent;
    margin: 0 20px;
    background-color: $accent-colour;
    color: $primary-colour;
    border-radius: 10px;
    padding: 2px 10px;
    &:hover {
      color: $primary-colour;
      background-color: white;
      border: 1px solid $primary-colour;
    }
  }
}

.registerform {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  input {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
  }
  button {
    background-color: $primary-colour;
    border-radius: 10px;
    border: 1px solid transparent;
    color: $primary-colour;
    font-family: monospace;
    font-size: 1.7rem;
    padding: 5px 15px;
    margin-top: 10px;
    &:hover {
      color: $primary-colour;
      background-color: white;
      // border: 1px solid $primary-colour;
    }
  }
}

// .logout {
//   margin-left: 25px;
// }

// style for the username when logged in
.logged-user {
  font-family: monospace;
  font-size: 1.7rem;
  color: $secondary-colour;
  // margin-right:10px;
}

// start of searchbar styling

#cover {
  width: 50vw;
  padding: 25px;
  margin: 2% auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  // border: solid 1px $primary-colour;
  transform: scale(0.6);
  box-shadow: 2px 2px 2px 2px rgba(10, 46, 34, 0.75);
  .tb {
    display: table;
    width: 100%;
  }
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  &:focus {
    outline: none;
  }
  //text for the ingredient input
  input,
  button {
    color: $primary-colour;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
  form {
    height: 65px;
  }
  input[type="text"] {
    color: $primary-colour;
    width: 100%;
    height: 65px;
    font-size: 50px;
    text-align: center;
    background-color: transparent;
    outline: none;
    font-family: "Cabin Sketch", cursive;
    font-weight: 700;
    color: $primary-colour;
    &::placeholder {
      font-family: "Cabin Sketch", cursive;
      font-weight: 700;
      font-size: 40px;
      color: $primary-colour;
      text-align: center;
      transform: translateY(-5px);
    }
  }
  // magnifying glass
  #s-cover {
    width: 1px;
    transform: scale(0.7);
  }
  button {
    position: relative;
    display: block;
    width: 84px;
    height: 65px;
    cursor: pointer;
    outline: none;
  }
  #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 72px;
    height: 72px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid $primary-colour;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
    color: $primary-colour;
  }
  button span {
    position: absolute;
    top: 68px;
    left: 46px;
    display: block;
    width: 40px;
    height: 10px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }
  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: $primary-colour;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: $primary-colour;
    border-radius: 20px;
  }
  #s-cover:hover span {
    top: 55%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }
  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }

  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: $primary-colour;
  }
}

.search {
  margin: 0.5rem 35rem;
  .search-result {
    margin: 1.5rem 3rem;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px;
    a:hover {
      text-decoration: none;
    }
  }
  img {
    height: 6vh;
    width: 6vh;
    margin: 0.25rem 1rem;
    border-radius: 5px;
    // padding: 5px;
    // background-color: $secondary-colour;
    // border: solid 2px black;
  }
  h4 {
    font-size: 1.5rem;
    font-family: $primary-font;
    color: $primary-colour;
    // border-radius: 15px;
    // background-color: $primary-colour;
    padding: 10px;
    margin: 0;
    // &:hover {
    //   // border: solid 2px white;
    // }
  }
}





.button-and-graph-container {
  margin: 3rem auto;
  width: 60%;
  background-color: #ffffff;
  // border: $primary-colour solid 1px;
  border-radius: 5px;
  .position-right button {
    margin-top: 2rem;
  }
}









.graph-container {
  display: flex;
  // height: 200px;
  // width: 85%;
  align-items: center;
  justify-content: space-between;
  .graph {
    display: flex;
    align-items: center;
    justify-content: center;
    .graph-label {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      margin: 0;
      color: $primary-colour;
      font-family: $primary-font;
    }
  }
}



// do not touch!!!
.graph-carousel-container {
  display: inline-block;
  width: 80%;
  margin-top: 1%;
  .macro-data {
    margin: 20px 10px 10px;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    h2 {
      font-family: $primary-font;
      color: $primary-colour;
    }
    .text {
      color: $primary-colour;
    }
    #macro-graph-container {
      height: 22em;
      width: 100%;
      margin: 0 auto;
    }
  }
}
// do not touch!!!







.nutritional-data {
  // width: 100%;
  // height: 42vh;
  display: inline-block;
  margin: 20px 10px 10px;
  // border: black solid 5px;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
  .text {
    color: $primary-colour;
  }
  div {
    margin: 0 auto;
  }
  h2 {
  color: $primary-colour;
  font-family: $primary-font;
  }
}


// don't touch!!!
.ingredient-data {
  width: 70%;
  margin: 25px auto;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
  .text {
    color: $primary-colour;
  }
  h2 {
  color: $primary-colour;
  font-family: $primary-font;
  }
  .ingredient-graph-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22em;
  .left-graph {
    height: 22em;
    width: 66%;
    }
  }
  .right-graph {
  height: 22em;
  width: 33%;
  }
}
// don't touch!!!




.carousel {
  // border: $primary-colour solid 1px;
  h2 {
    font-family: $primary-font;
    color: $primary-colour;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
  }
}

.schedule-item {
  width: 10vw;
  .heading-title {
    height: 8vh;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;

  img {
    margin: 0;
  }
  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #a0d0ce;
    color: white;
    border-radius: 10px;
    padding: 7px 13px;
    border: 1px solid transparent;
    font-weight: bold;
    &:hover {
      background-color: salmon;
    }
  }
}
